In [1]:
import pandas as pd

demo = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_demo.txt"
exp = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_experiment_clients.txt"
webdata1 = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_web_data_pt_1.txt"
webdata2 = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_web_data_pt_2.txt"
merged = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Clean Data\merged_data_with_NaN.csv"

exp_df = pd.read_csv(exp)
demo_df = pd.read_csv(demo)
webdata1_df = pd.read_csv(webdata1)
webdata2_df = pd.read_csv(webdata2)
merged_df = pd.read_csv(merged)

C:\Users\vgold\AppData\Local\Temp\ipykernel_21736\2679133384.py:13: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(merged)

In [2]:
merged_df.columns[5]
merged_df.iloc[:, 5].apply(type).value_counts()

Variation
<class 'float'>    434096
<class 'str'>      321309
Name: count, dtype: int64

In [3]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  int64
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  object
 4   date_time         755405 non-null  object
 5   Variation         321309 non-null  object
 6   clnt_tenure_yr    449716 non-null  float64
 7   clnt_tenure_mnth  449716 non-null  float64
 8   clnt_age          449704 non-null  float64
 9   gendr             449716 non-null  object
 10  num_accts         449716 non-null  float64
 11  bal               449716 non-null  float64
 12  calls_6_mnth      449716 non-null  float64
 13  logons_6_mnth     449716 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 80.7+ MB

In [4]:
merged_df['Variation'].isna().sum()

np.int64(434096)

In [5]:
merged_df[merged_df['Variation'].isna()].shape

(434096, 14)

In [6]:
analysis_df = merged_df[merged_df['Variation'].notna()].copy()

In [7]:
analysis_df['Variation'].isna().sum()
analysis_df['Variation'].value_counts()

Variation
Test       177847
Control    143462
Name: count, dtype: int64

In [8]:
analysis_df.duplicated().sum()

np.int64(4074)

In [9]:
analysis_df[analysis_df.duplicated(keep=False)]

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
364,9358626,148475529_63668223960,223297395_36250329195_832161,start,2017-04-28 12:27:28,Control,5.0,69.0,24.5,U,2.0,43999.16,6.0,9.0
365,9358626,148475529_63668223960,223297395_36250329195_832161,start,2017-04-28 12:27:28,Control,5.0,69.0,24.5,U,2.0,43999.16,6.0,9.0
367,5376894,622509328_44408201172,688984457_43441834354_912755,start,2017-04-28 14:20:01,Test,13.0,157.0,48.0,F,2.0,107170.61,6.0,9.0
368,5376894,622509328_44408201172,688984457_43441834354_912755,start,2017-04-28 14:20:01,Test,13.0,157.0,48.0,F,2.0,107170.61,6.0,9.0
382,438567,923318467_50708963627,330543236_29863358529_771432,start,2017-04-28 02:52:29,Test,15.0,186.0,38.0,M,2.0,89161.52,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637397,1129748,27929904_9079935779,974922467_42594903952_165673,start,2017-05-08 20:22:19,Control,12.0,149.0,58.0,M,2.0,46719.60,6.0,9.0
637398,1129748,27929904_9079935779,974922467_42594903952_165673,start,2017-05-08 20:20:59,Control,12.0,149.0,58.0,M,2.0,46719.60,6.0,9.0
637399,1129748,27929904_9079935779,974922467_42594903952_165673,start,2017-05-08 20:20:59,Control,12.0,149.0,58.0,M,2.0,46719.60,6.0,9.0
637479,7049106,710348688_12741653529,412278907_8949064401_171038,start,2017-05-20 23:07:09,Test,17.0,206.0,64.0,F,3.0,237685.57,4.0,7.0
637480,7049106,710348688_12741653529,412278907_8949064401_171038,start,2017-05-20 23:07:09,Test,17.0,206.0,64.0,F,3.0,237685.57,4.0,7.0

In [10]:
analysis_df = analysis_df.drop_duplicates()

In [11]:
analysis_df['client_id'].duplicated().sum()

np.int64(266735)

In [12]:
analysis_df.duplicated(
    subset=['client_id', 'visit_id', 'process_step', 'date_time', 'bal']
).sum()

np.int64(0)

In [13]:
analysis_df['Variation'].apply(type).value_counts()

Variation
<class 'str'>    317235
Name: count, dtype: int64

In [14]:
analysis_df.shape

(317235, 14)

In [15]:

analysis_df.duplicated().sum()

np.int64(0)

In [16]:

analysis_df['client_id'].nunique()

50500

In [17]:
analysis_df.shape
analysis_df.duplicated().sum()
analysis_df['client_id'].nunique()

50500

In [18]:
merged_df["Variation"]

0         Test
1         Test
2         Test
3         Test
4         Test
          ...
755400     NaN
755401     NaN
755402     NaN
755403     NaN
755404     NaN
Name: Variation, Length: 755405, dtype: object

In [19]:
analysis_df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637487,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
637532,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
637533,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
637534,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
637535,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0

In [20]:
analysis_df.isna().sum()

client_id             0
visitor_id            0
visit_id              0
process_step          0
date_time             0
Variation             0
clnt_tenure_yr      100
clnt_tenure_mnth    100
clnt_age            112
gendr               100
num_accts           100
bal                 100
calls_6_mnth        100
logons_6_mnth       100
dtype: int64

In [21]:
analysis_df[
    analysis_df.duplicated(
        subset=['client_id', 'visit_id', 'process_step'],
        keep=False
    )
].sort_values(['client_id', 'visit_id', 'process_step'])

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
62620,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:52,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0
62621,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:24,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0
62622,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:37:02,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0
62623,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:36:30,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0
132368,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 19:00:26,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119538,9998346,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:28:00,Control,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0
611407,9999150,665127594_52605538620,982803842_91891255980_123078,start,2017-05-29 16:55:30,Test,5.0,66.0,30.0,U,3.0,97141.71,6.0,9.0
611409,9999150,665127594_52605538620,982803842_91891255980_123078,start,2017-05-29 16:55:12,Test,5.0,66.0,30.0,U,3.0,97141.71,6.0,9.0
107163,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0
107166,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:21:27,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0

In [22]:
analysis_df.value_counts()

client_id  visitor_id             visit_id                      process_step  date_time            Variation  clnt_tenure_yr  clnt_tenure_mnth  clnt_age  gendr  num_accts  bal        calls_6_mnth  logons_6_mnth
555        402506806_56087378777  637149525_38041617439_716659  confirm       2017-04-15 13:00:34  Test       3.0             46.0              29.5      U      2.0        25454.66   2.0           6.0              1
6679090    60235576_38516456906   585045541_7247472106_100166   start         2017-04-23 21:36:09  Test       15.0            182.0             70.5      M      2.0        135827.47  2.0           5.0              1
6679118    317850171_15661298260  370497669_10584027693_233650  step_1        2017-05-07 09:52:54  Test       10.0            128.0             36.0      F      2.0        31429.67   0.0           3.0              1
                                                                start         2017-05-07 09:52:41  Test       10.0            128.0             36.0      F      2.0        31429.67   0.0           3.0              1
6679090    60235576_38516456906   981143113_25189005857_521385  start         2017-04-06 09:31:31  Test       15.0            182.0             70.5      M      2.0        135827.47  2.0           5.0              1
                                                                                                                                                                                                                     ..
3369137    95518283_27774206588   869263461_78468132066_249887  step_1        2017-04-05 08:07:07  Control    21.0            253.0             62.5      M      2.0        366632.27  5.0           8.0              1
                                                                start         2017-04-05 08:06:34  Control    21.0            253.0             62.5      M      2.0        366632.27  5.0           8.0              1
                                                                confirm       2017-04-05 08:11:46  Control    21.0            253.0             62.5      M      2.0        366632.27  5.0           8.0              1
                                  529326354_25912294779_177476  confirm       2017-05-23 08:34:59  Control    21.0            253.0             62.5      M      2.0        366632.27  5.0           8.0              1
9999832    145538019_54444341400  472154369_16714624241_585315  step_1        2017-05-16 16:46:11  Test       23.0            281.0             49.0      F      2.0        431887.61  1.0           4.0              1
Name: count, Length: 317123, dtype: int64

In [29]:
analysis_df.shape
#analysis_df.duplicated().sum()
#analysis_df['client_id'].nunique()
#analysis_df['Variation'].value_counts()

(317235, 14)

In [31]:
merged_df['client_id'].nunique()

120157

In [30]:
merged_df.duplicated().sum()

np.int64(10764)

In [23]:
analysis_df.to_csv(
    r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Clean Data\analysis.csv",
    index=False
)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Set styling
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("Set2")

analysis_df['date_time'] = pd.to_datetime(analysis_df['date_time'])

print("="*80)
print("VANGUARD A/B TEST - KPI ANALYSIS")
print("="*80)
print(f"\nDataset Overview:")
print(f"  Total Records: {len(analysis_df):,}")
print(f"  Unique Clients: {analysis_df['client_id'].nunique():,}")
print(f"  Date Range: {analysis_df['date_time'].min().date()} to {analysis_df['date_time'].max().date()}")
print(f"\nVariation Distribution:")
print(analysis_df['Variation'].value_counts())


# ============================================================================
# KPI 1: COMPLETION RATE
# ============================================================================

print("\n" + "="*80)
print("KPI 1: COMPLETION RATE")
print("="*80)
print("Definition: Proportion of users who reach the final 'confirm' step\n")

# Count total unique clients per variation
total_clients = analysis_df.groupby('Variation')['client_id'].nunique()

# Count clients who reached 'confirm' step
completed_clients = analysis_df[analysis_df['process_step'] == 'confirm'].groupby('Variation')['client_id'].nunique()

# Calculate completion rate
completion_rate = (completed_clients / total_clients * 100).round(2)

# Display results
print("Total Clients:")
print(total_clients)
print("\nClients Who Completed:")
print(completed_clients)
print("\n📊 COMPLETION RATE:")
for var in completion_rate.index:
    print(f"  {var:12s}: {completion_rate[var]:6.2f}%")

# Calculate improvement
if 'Test' in completion_rate.index and 'Control' in completion_rate.index:
    abs_diff = completion_rate['Test'] - completion_rate['Control']
    rel_diff = ((completion_rate['Test'] / completion_rate['Control']) - 1) * 100
    
    print(f"\n🎯 IMPROVEMENT:")
    print(f"  Absolute: {abs_diff:+.2f} percentage points")
    print(f"  Relative: {rel_diff:+.2f}%")
    
    if abs_diff > 0:
        print(f"  ✅ Test group shows HIGHER completion rate")
    elif abs_diff < 0:
        print(f"  ❌ Test group shows LOWER completion rate")
    else:
        print(f"  ➖ No difference in completion rate")


# ============================================================================
# KPI 2: TIME SPENT ON EACH STEP
# ============================================================================

print("\n" + "="*80)
print("KPI 2: TIME SPENT ON EACH STEP")
print("="*80)
print("Definition: Average duration users spend on each step\n")

# Sort data by client, visit, and timestamp
df_sorted = analysis_df.sort_values(['client_id', 'visit_id', 'date_time']).copy()

# Calculate time difference between consecutive steps within same visit
df_sorted['time_diff'] = df_sorted.groupby(['client_id', 'visit_id'])['date_time'].diff()

# Convert to seconds then minutes
df_sorted['time_diff_seconds'] = df_sorted['time_diff'].dt.total_seconds()
df_sorted['time_diff_minutes'] = df_sorted['time_diff_seconds'] / 60

# Filter outliers: Remove sessions > 60 minutes (likely abandoned/interrupted)
df_sorted.loc[df_sorted['time_diff_minutes'] > 60, 'time_diff_minutes'] = np.nan

# Calculate average time per step by variation
time_per_step = df_sorted.groupby(['Variation', 'process_step'])['time_diff_minutes'].agg([
    ('mean', 'mean'),
    ('median', 'median'),
    ('count', 'count')
]).round(2)

print("📊 AVERAGE TIME PER STEP (minutes):")
print(time_per_step)

# Calculate total journey time
total_journey = df_sorted.groupby(['Variation', 'client_id', 'visit_id'])['time_diff_minutes'].sum()
avg_total_time = total_journey.groupby('Variation').agg(['mean', 'median', 'std']).round(2)

print("\n📊 AVERAGE TOTAL JOURNEY TIME (minutes):")
print(avg_total_time)

# Compare Control vs Test
if 'Test' in avg_total_time.index and 'Control' in avg_total_time.index:
    time_diff = avg_total_time.loc['Test', 'mean'] - avg_total_time.loc['Control', 'mean']
    time_pct = (time_diff / avg_total_time.loc['Control', 'mean']) * 100
    
    print(f"\n🎯 JOURNEY TIME COMPARISON:")
    print(f"  Difference: {time_diff:+.2f} minutes ({time_pct:+.1f}%)")
    if time_diff < 0:
        print(f"  ✅ Test group is FASTER")
    elif time_diff > 0:
        print(f"  ❌ Test group is SLOWER")
    else:
        print(f"  ➖ No time difference")

================================================================================
VANGUARD A/B TEST - KPI ANALYSIS
================================================================================

Dataset Overview:
  Total Records: 317,235
  Unique Clients: 50,500
  Date Range: 2017-03-15 to 2017-06-20

Variation Distribution:
Variation
Test       176699
Control    140536
Name: count, dtype: int64

================================================================================
KPI 1: COMPLETION RATE
================================================================================
Definition: Proportion of users who reach the final 'confirm' step

Total Clients:
Variation
Control    23532
Test       26968
Name: client_id, dtype: int64

Clients Who Completed:
Variation
Control    15434
Test       18687
Name: client_id, dtype: int64

📊 COMPLETION RATE:
  Control     :  65.59%
  Test        :  69.29%

🎯 IMPROVEMENT:
  Absolute: +3.70 percentage points
  Relative: +5.64%
  ✅ Test group shows HIGHER completion rate

================================================================================
KPI 2: TIME SPENT ON EACH STEP
================================================================================
Definition: Average duration users spend on each step

📊 AVERAGE TIME PER STEP (minutes):
                        mean  median  count
Variation process_step
Control   confirm       2.15    1.22  16570
          start         2.73    0.85  14455
          step_1        0.72    0.30  29258
          step_2        0.65    0.33  25659
          step_3        1.57    1.10  22329
Test      confirm       2.13    0.95  22204
          start         2.43    0.95  22694
          step_1        0.63    0.18  38346
          step_2        0.80    0.42  30728
          step_3        1.62    1.10  25493

📊 AVERAGE TOTAL JOURNEY TIME (minutes):
           mean  median   std
Variation
Control    4.58    2.65  7.04
Test       5.18    2.78  8.81

🎯 JOURNEY TIME COMPARISON:
  Difference: +0.60 minutes (+13.1%)
  ❌ Test group is SLOWER

In [ ]:
import pandas as pd
import numpy as np

# 1. Load your merged data (Adjust path if needed)
analysis_df['date_time'] = pd.to_datetime(df['date_time'])

# Define step order for "DIFF" logic
step_map = {'start': 0, 'step_1': 1, 'step_2': 2, 'step_3': 3, 'confirm': 4}
df['step_index'] = df['process_step'].map(step_map)

# Sort chronologically within each visit to calculate differences
df = df.sort_values(by=['client_id', 'visit_id', 'date_time'])

# 2. Calculate Time Spent (Time DIFF)
# We find the time difference between the current row and the next row for the same visit
df['time_spent'] = df.groupby('visit_id')['date_time'].diff().dt.total_seconds().shift(-1)

# 3. Calculate Error Rate (Step DIFF)
# A "Backtrack Error" occurs if the next step_index is smaller than the current one
df['next_step_index'] = df.groupby('visit_id')['step_index'].shift(-1)
df['is_error'] = (df['next_step_index'] < df['step_index'])

# --- AGGREGATE RESULTS ---

def get_kpis(group):
    # KPI 1: Completion Rate
    total_clients = group['client_id'].nunique()
    confirmed_clients = group[group['process_step'] == 'confirm']['client_id'].nunique()
    completion_rate = (confirmed_clients / total_clients) * 100
    
    # KPI 2: Avg Time Spent per Step
    avg_time_per_step = group.groupby('process_step')['time_spent'].mean()
    
    # KPI 3: Error Rate (Total backtrack events / Total interactions)
    error_rate = (group['is_error'].sum() / len(group)) * 100
    
    # KPI 4: Drop-off Rate (Added KPI)
    # Users who started but never reached 'confirm'
    drop_off_rate = 100 - completion_rate

    return pd.Series({
        'Completion Rate (%)': completion_rate,
        'Error Rate (%)': error_rate,
        'Drop-off Rate (%)': drop_off_rate,
        'Avg Time (Total)': group['time_spent'].sum() / total_clients
    })

# Compare Test vs Control
comparison = df.groupby('Variation').apply(get_kpis)
print(comparison)

# Breakdown of time per step
time_breakdown = df.groupby(['Variation', 'process_step'])['time_spent'].mean().unstack()
print("\n--- Time Spent per Step (Seconds) ---")
print(time_breakdown)

           Completion Rate (%)  Error Rate (%)  Drop-off Rate (%)  \
Variation
Control              65.587285        6.890050          34.412715
Test                 69.293236        9.254721          30.706764

           Avg Time (Total)
Variation
Control          382.180563
Test             433.641946

--- Time Spent per Step (Seconds) ---
process_step     confirm      start     step_1     step_2      step_3
Variation
Control       156.539241  65.955054  50.280209  91.844984  137.123065
Test          230.907740  61.249358  60.708299  88.841860  129.518446