In [18]:
import pandas as pd

demo = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_demo.txt"
exp = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_experiment_clients.txt"
webdata1 = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_web_data_pt_1.txt"
webdata2 = r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Raw Data\df_final_web_data_pt_2.txt"

exp_df = pd.read_csv(exp)
demo_df = pd.read_csv(demo)
webdata1_df = pd.read_csv(webdata1)
webdata2_df = pd.read_csv(webdata2)

In [19]:
web_df = pd.concat(
    [webdata1_df, webdata2_df],
    ignore_index=True
)

In [20]:
web_exp_df = web_df.merge(
    exp_df,
    on='client_id',
    how='left'
)

In [21]:
web_exp_df.shape
web_exp_df.head()
web_exp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
 5   Variation     321309 non-null  object
dtypes: int64(1), object(5)
memory usage: 34.6+ MB

In [22]:
merged_df = web_exp_df.merge(
    demo_df,
    on='client_id',
    how='left'
)

In [23]:
merged_df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
merged_df.shape
merged_df.info()
merged_df.isna().sum().sort_values(ascending=False).head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  int64
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  object
 4   date_time         755405 non-null  object
 5   Variation         321309 non-null  object
 6   clnt_tenure_yr    449716 non-null  float64
 7   clnt_tenure_mnth  449716 non-null  float64
 8   clnt_age          449704 non-null  float64
 9   gendr             449716 non-null  object
 10  num_accts         449716 non-null  float64
 11  bal               449716 non-null  float64
 12  calls_6_mnth      449716 non-null  float64
 13  logons_6_mnth     449716 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 80.7+ MB

Variation           434096
clnt_age            305701
clnt_tenure_yr      305689
clnt_tenure_mnth    305689
gendr               305689
num_accts           305689
bal                 305689
calls_6_mnth        305689
logons_6_mnth       305689
client_id                0
dtype: int64

In [25]:
merged_df['Variation'].value_counts()

Variation
Test       177847
Control    143462
Name: count, dtype: int64

In [26]:
merged_df.groupby('Variation')['client_id'].nunique()

Variation
Control    23532
Test       26968
Name: client_id, dtype: int64

In [30]:
merged_df.to_csv(
    r"D:\Ironhack\project\Project-2-Vanguard-CX-Team\Data\Clean Data\merged_data_with_NaN.csv",
    index=False
)