In [1]:
#import librarys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
#formatting data

pd.options.display.float_format = "{:,.2f}".format

In [6]:
df_demo = pd.read_csv("/Users/Julian/Desktop/IronHack/Unit 5 - EDA and Inferential Stats/Project-3-Vangaurd/df_final_demo.txt")
df_clients = pd.read_csv("/Users/Julian/Desktop/IronHack/Unit 5 - EDA and Inferential Stats/Project-3-Vangaurd/df_final_experiment_clients.txt")
df_data_1 = pd.read_csv("/Users/Julian/Desktop/IronHack/Unit 5 - EDA and Inferential Stats/Project-3-Vangaurd/df_final_web_data_pt_1.txt")
df_data_2 = pd.read_csv("/Users/Julian/Desktop/IronHack/Unit 5 - EDA and Inferential Stats/Project-3-Vangaurd/df_final_web_data_pt_2.txt")

In [15]:
#inspect data - 

display("INFO about Data #1")

display(df_data_1.head())
display(df_data_1.info())
display(df_data_1.shape)
display(df_data_1.columns)
display(df_data_1.describe())

display("INFO about Data #2")

display(df_data_2.head())
display(df_data_2.info())
display(df_data_2.shape)
display(df_data_2.columns)
display(df_data_2.describe())

'INFO about Data #1'

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

<class 'pandas.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  str
 2   visit_id      343141 non-null  str
 3   process_step  343141 non-null  str
 4   date_time     343141 non-null  str
dtypes: int64(1), str(4)
memory usage: 13.1 MB

None

(343141, 5)

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='str')

         client_id
count   343,141.00
mean  4,996,097.07
std   2,875,838.61
min         169.00
25%   2,506,067.00
50%   5,007,915.00
75%   7,468,519.00
max   9,999,839.00

'INFO about Data #2'

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

<class 'pandas.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  str
 2   visit_id      412264 non-null  str
 3   process_step  412264 non-null  str
 4   date_time     412264 non-null  str
dtypes: int64(1), str(4)
memory usage: 15.7 MB

None

(412264, 5)

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='str')

         client_id
count   412,264.00
mean  5,028,227.11
std   2,881,828.34
min         336.00
25%   2,533,952.00
50%   5,056,314.00
75%   7,516,791.75
max   9,999,875.00

In [14]:
#checking NUlls 

display(df_data_1.isna().sum())
display(df_data_2.isna().sum())

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64